auto eth0
iface eth0 inet static
    address {{ static_ip }}
    netmask 255.255.255.0
    gateway {{ gateway }}
    dns-nameservers {{ dns_servers | join(' ') }}
    {% if routes is defined %}
    {% for route in routes %}
    up ip route add {{ route.network }} via {{ route.gateway }}
    down ip route del {{ route.network }} via {{ route.gateway }}
    {% endfor %}
    {% endif %}

